.sidebar {
    width: 150px;
    height: 700px;
    background-color: #f0f0f0;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list li {
    padding: 10px;
}

.sidebar-list li a {
    text-decoration: none;
    color: #333;
}

.sidebar-list li a.active {
    font-weight: bold;
}